<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <style>
        .class1 {
            background: #444;
            color: #eee;
        }
    </style>
</head>
<body>
<div id="app">
    <p>{{message}}</p>
    <p v-html="message"></p>
</div>
<div id="app1">
    <label for="changeColor">改变颜色</label>
    <input type="checkbox" id="changeColor" v-model="class1">
    <br>
    <br>
    <div :class="{'class1':class1}">背景颜色</div>
</div>
<div id="app2">
    {{5+5}}
    {{ok?'yes':'no'}}
    {{ message.split(' ').join('')}}
    <div class="" :id="'list_'+id">qqqqqqqqqq</div>
</div>
<div id="app3">
    <p v-if="seen">seen</p>
</div>
<div id="app4">
    <a :href="url">aaaaaaaaaaaa</a>
</div>
<div id="app5" @click="doSomething">
    点击事件
</div>
<div id="app6">
    <p>{{message}}</p>
    <input v-model="message">
</div>
<div id="app7">
    {{message | capitalized}}
</div>
<div id="app8">
    <ann></ann>
</div>
<div id="app9">
    <ol>
        <todo-box v-for="item in sites" v-bind:todo="item"></todo-box>
    </ol>
</div>
<!--app10-->
<div id="app10">
    <input-area v-bind:propA="item"></input-area>
</div>
<script>
    //app10
    Vue.component('input-area',{
        props:{
            propA:Number,
        },
        template:'<input type="text" value="123">'
    })
    new Vue({
        el:"#app10",
        data:{
            item:'aaa'
        }
    })
    //    app9
    Vue.component('todo-box', {
        props: ['todo'],
        template: '<li>{{todo.text}}</li>'
    })
    new Vue({
        el:"#app9",
        data:{
            sites:[
                {text:"第一"},
                {text:"第二"},
                {text:"第三"},
            ]
        }
    })
    //    app8
    Vue.component('ann', {
        template: '<h1>我的</h1>'
    })
    new Vue({
        el: "#app8",
    })
    new Vue({
        el: "#app7",
        data: {
            message: 'my little Baby'
        },
        filters: {
            capitalized: function (value) {
                if (!value) return '';
                value = value.toString();
                return value.charAt(0).toUpperCase() + value.slice(1);
            }
        }
    })
    new Vue({
        el: "#app6",
        data: {
            message: 'An!'
        }
    })
    new Vue({
        el: "#app5",
        data: {
            doSomething: function () {
                alert("1")
            }
        }
    })
    new Vue({
        el: "#app4",
        data: {
            url: "http://www.baidu.com"
        }
    })
    new Vue({
        el: '#app',
        data: {
            message: 'HELLO An!'
        }
    })
    new Vue({
        el: "#app1",
        data: {
            class1: false
        }
    })
    new Vue({
        el: "#app2",
        data: {
            ok: true,
            message: 'I Love An',
            id: 1
        }
    })
    new Vue({
        el: "#app3",
        data: {
            seen: false
        }
    })
</script>
</body>
</html>